doctype html
html
  head
    title Jayesh Fitness Maniacs
    block scripts
    block style
      
  body
    nav#navbar 
      ul 
        div#logo
          img(src='/static/l1.jpg')
        li #[a(href="/") Home]
        li #[a(href="/") About Us] 
        li #[a(href="#Missionsection ") Services] 
        li #[a(href="/") Trainers] 
        li #[a(href="/contact") Contact Us]

    block content
    footer#footer 
      |Copyright @2022 Jayesh Fitness Manics | All rights reserved.
      